<h1>{{title}}</h1>
{{#if error}}
    <h2>{{error}}</h2>
{{/if}}

<form method="POST">
    <input type="radio" name="lang" value="en-ru" checked> En => RU
    <input type="radio" name="lang" value="ru-en"> RU => EN
    <input type="text" name="text">
    <input type="submit" value="перевести">
</form> 


